<!-- <ion-header class="listing-header">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            <ion-label>Como podemos ajudar?</ion-label>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="md-chatboxes"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
 -->
<ion-content no-bounce class="no-scroll">
    <ion-row>
        <div class="trapezoid">
            <div class="plus-sign"></div>
        </div>
    </ion-row>
    <ion-card class="card">
        <ion-row>
            <ion-label align="center">
                <h3>Orçados</h3>
            </ion-label>
            <ion-label align="center">
                <h3>Realizadosasdas</h3>
            </ion-label>
        </ion-row>
        <div>
            <canvas baseChart [datasets]="barChartData" [colors]="barChartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" style="height:260px;width:auto;"></canvas>
        </div>
    </ion-card>
</ion-content>