@mixin categories-title-style($color) {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: 0.4px;
    color: $color;
    margin: 0px;
}

.card {
    height: 60% !important;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 6%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(54, 54, 54);
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 82%;
        width: 100%;
        color: rgb(255, 255, 255);
    }
}

.trapezoid {
    background-color: #f7f7f7;
    border-right: 40px solid #dbdbdb;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    height: 100px;
    width: 100%;
}

.plus-sign {
    margin-left: 102%;
    margin-top: 4.5%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid white;
    border-bottom: 10px solid transparent;
}


/* 
.plus-sign:before {
    background: white;
    content: "";
    width: 20px;
    height: 6px;
    position: absolute;
    top: 7px;
    left: -7px;
    border-radius: 20px;
}
 */

.no-scroll .scroll-content {
    //bloquear scroll da pagina de orçamentos/realizados
    /*  overflow: hidden; */
}

.scroll-content {
    background-color: #f7f7f7;
}