<!-- <ion-header class="login-header auth-header">
    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header> -->
<!-- 
<ion-content class="login-content auth-content">
    <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
        <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <show-hide-container>
            <ion-item>
                <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
            </ion-item>
        </show-hide-container>
        <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Login</button>
    </form>
    <ion-row class="alt-options">
        <ion-col no-padding width-50>
            <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">Esqueceu a senha?</button>
        </ion-col>
        <ion-col no-padding width-50>
            <button ion-button block clear class="signup-button" (click)="goToSignup()">Cadastre-se!</button>
        </ion-col>
    </ion-row>
    <p class="auth-divider">
    </p>
    <!--   <button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()">Log in with Facebook</button>
 -->
<!--   <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button>
 </ion-content> -->



<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +') !important'}">
    <ion-header>
        <ion-navbar>
        </ion-navbar>
    </ion-header>
    <ion-slides #slider class="content-slider" direction="vertical">
        <ion-slide class="swiper-no-swiping">
            <div padding>
                <!--                 <img class="logo" src="assets/a.jpg" />
 -->
                <!--                 <ion-slides class="text-slider" autoplay="2000">
                    <ion-slide>
                        <h3> Really nice stuff </h3>
                    </ion-slide>
                    <ion-slide>
                        <img src="assets/img/misc/emoji.png" />
                    </ion-slide>
                    <ion-slide>
                        <h3> Unique experiences given to you for just a couple bucks </h3>
                    </ion-slide>
                    <ion-slide>
                        <h3> Share what you love </h3>
                    </ion-slide>
                </ion-slides> -->
                <ion-row>
                    <ion-col col-6>
                        <button ion-button round color="light" class="login-button" (click)="goToLogin()">Login</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button round color="light" class="login-button" (click)="goToSignup()">Cadastro</button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
        <ion-slide class="zoom swiper-no-swiping">
            <ion-slides #innerSlider class="content-slider">
                <ion-slide class="swiper-no-swiping">
                    <div style="padding: 30% 32px 32px 32px">
                        <ion-item>
                            <ion-label floating>Usuário</ion-label>
                            <ion-input type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Senha</ion-label>
                            <ion-input type="password"></ion-input>
                        </ion-item>
                        <button ion-button block round (click)="loginGo()" color="light" class="login-button">Login</button>
                        <button ion-button clear (click)="slideNext()" color="light" class="forgot-button">Esqueceu sua senha?</button>
                    </div>
                    <button ion-button clear (click)="goToSignup()" class="slide-button position-bottom">Inscrever-se<ion-icon name="arrow-down"></ion-icon></button>
                </ion-slide>
                <ion-slide class="swiper-no-swiping">
                    <div style="padding: 20% 32px 32px 32px">
                        <ion-item>
                            <ion-label floating>E-mail</ion-label>
                            <ion-input type="email"></ion-input>
                        </ion-item>
                        <button ion-button block round (click)="resetPassword()" color="light" class="login-button">Reenviar minha Senha</button>
                        <button ion-button clear (click)="slidePrevious()" color="light" class="goback-button"><ion-icon name="arrow-back"></ion-icon> Voltar</button>
                    </div>
                </ion-slide>
            </ion-slides>
        </ion-slide>
        <ion-slide class="zoom swiper-no-swiping">
            <button ion-button clear (click)="goToLogin()" class="slide-button">
          Ir para login
          <ion-icon name="arrow-up"></ion-icon>
        </button>
            <div style="padding: 32px">
                <ion-item>
                    <ion-label floating>Usuário</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Senha</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
                <ion-item class="margin-bottom">
                    <ion-label floating>Confirmar Senha</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
                <button ion-button block round (click)="signup()" color="light" class="login-button">Inscrever-se</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>