login-page {
    ion-slide {
        background-image: url('../../assets/achieve.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
    }
    $base-color: rgb(24,
    72,
    90);
    // Fullscreen centered image background
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
    }
    // Slider
    .content-slider {
        ion-slides,
        .swiper-container {
            height: 100%;
            width: auto;
        }
    }
    .text-slider {
        ion-slides,
        .swiper-container {
            height: 20vh;
            width: auto;
        }
    }
    .zoom .slide-zoom {
        height: 100%;
    }
    // Content
    .scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .logo {
        width: 100%;
        max-width: 19em;
        height: auto;
        margin: 0 auto;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-col {
        padding: 0 20px;
    }
    span,
    p,
    h3 {
        color: white;
    }
    // Input items
    ion-label,
    .input-has-focus {
        color: #fff !important;
    }
    ion-item {
        border-radius: 3px !important;
        padding-right: 16px !important;
        margin-bottom: 5px !important;
        color: #fff !important;
        background-color: transparent !important;
        font-size: 0.9em;
    }
    .margin-bottom {
        margin-bottom: 15px !important;
    }
     ::-webkit-input-placeholder {
        color: white !important;
    }
    .item-inner {
        border-bottom: 2px solid white !important;
        box-shadow: none !important;
    }
    //
    .login-button {
        width: 100%;
        max-width: 40rem;
        height: 50px;
        font-size: 1.2em;
        span {
            color: $base-color !important;
        }
        // border: 1px solid #fff;
    }
    .forgot-button {
        font-weight: bold;
        float: right;
        ion-icon {
            padding-left: 10px;
            font-size: 2.2rem;
        }
    }
    .goback-button {
        font-weight: bold;
        float: left;
        ion-icon {
            padding-right: 10px;
            font-size: 2.2rem;
        }
    }
    .slide-button {
        margin-top: 4rem;
        font-weight: bold;
        ion-icon {
            padding-left: 10px;
            font-size: 2.2rem;
        }
    }
    .position-bottom {
        position: absolute;
        left: 0;
        bottom: 10px;
        right: 0;
        margin: 0 auto;
        width: 200px;
    }
    .login-content {
        .alt-options {
            .button {
                margin: 0px;
                padding: 0px;
                font-size: 1.4rem;
            }
            .forgot-button {
                color: $white-d;
                .button-inner {
                    @include justify-content(flex-start);
                }
            }
            .signup-button {
                font-weight: 500;
                color: $theme-color-2;
                .button-inner {
                    @include justify-content(flex-end);
                }
            }
        }
    }
}