<ion-header class="forgot-password-header auth-header">
    <ion-navbar>
        <ion-title>Esqueceu a senha?</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="forgot-password-content auth-content">
    <h2 class="auth-title">Recupere sua senha</h2>
    <p class="recover-message">
        Por favor, digite o email utilizado em seu cadastro e te enviaremos um link para criar uma nova senha.
    </p>
    <form class="forgot-password-form auth-form" [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
        <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <button ion-button block class="auth-action-button recover-password-button" type="submit" [disabled]="!forgot_password.valid">Recuperar senha</button>
    </form>
</ion-content>