<ion-header>
    <ion-navbar>
        <ion-title>Incluir Sonhos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
    <div class="forms-wrapper">
        <div class="post-example-view">
            <form class="sample-form post-form" [formGroup]="post_form" (ngSubmit)="createPost()">
                <section class="form-section">
                    <ion-item>
                        <ion-input type="text" placeholder="Sonho: ex. Casa nova, viagem para praia..." formControlName="title"></ion-input>
                    </ion-item>
                    <button ion-button block large class="upload-image-button">
              <ion-icon name="camera"></ion-icon>
              <h3 class="button-title">imagem do sonho</h3>
            </button>
                </section>
                <ion-item>
                    <ion-textarea rows="7" placeholder="Escreva uma descrição de seu sonho (opcional)..." formControlName="description"></ion-textarea>
                </ion-item>
                <ion-item class="time-item">
                    <ion-label>Quando REALIZAR o sonho?</ion-label>
                    <ion-datetime formControlName="realizado" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
                </ion-item>
                <ion-list class="card-preferences">
                    <ion-item class="switcher-item">
                        <ion-label>Envolve dinheiro?</ion-label>
                        <ion-toggle formControlName="env_dinheiro" [(ngModel)]="toggle"></ion-toggle>
                    </ion-item>
                </ion-list>
                <ion-section *ngIf="toggle">
                    <h2 class="section-title">Vamos te ajudar a saber quando e como realizar!</h2>
                    <ion-item class="range-item">
                        <ion-input type="number" placeholder="Valor em Reais" formControlName="valor"></ion-input>
                    </ion-item>
                    <ion-item class="range-item">
                        <ion-input type="number" placeholder="Quanto você já tem?" formControlName="qntTem"></ion-input>
                    </ion-item>
                    <ion-item class="time-item">
                        <ion-label>Quando quer iniciar esse sonho?</ion-label>
                        <ion-datetime formControlName="inicio" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
                    </ion-item>
                </ion-section>
                <section class="form-section">
                    <button ion-button block class="form-action-button create-post-button" type="submit" [disabled]="!post_form.valid">Realizar!</button>
                </section>
            </form>
        </div>
    </div>
</ion-content>