<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <ion-label item-left>Calculadoras</ion-label>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="userForm" (ngSubmit)="Onsubmit()">
        <ion-list>

            <ion-item>
                <ion-label>Valor empréstimo</ion-label>
                <ion-input formControlName="l_amount" step="0.01" type="number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Taxa de juros</ion-label>
                <ion-input step="0.01" formControlName="interst" type="number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Periodo(anos)</ion-label>
                <ion-input step="0.01" formControlName="period" type="number"></ion-input>
            </ion-item>
        </ion-list>
        <p item-right text-wrap *ngIf="!userForm.controls.l_amount.valid && userForm.controls.l_amount.dirty">
            <span>Por favor digite o valor do empréstimo</span>
        </p>
        <p item-right text-wrap *ngIf="!userForm.controls.interst.valid && userForm.controls.interst.dirty">
            <span>Por favor digite o juro</span>
        </p>
        <p item-right text-wrap *ngIf="!userForm.controls.period.valid && userForm.controls.period.dirty">
            <span>Por favor digite o período</span>
        </p>

        <button type="submit" [disabled]="!userForm.valid" full ion-button>Calcular</button>
    </form>
    <ion-card *ngIf="emi!=''">
        <ion-card-header>
            Valor mensal
        </ion-card-header>
        <ion-card-content>
            {{emi | number:"2.2-2"}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="intrest!=''">
        <ion-card-header>
            Total de juros
        </ion-card-header>
        <ion-card-content>
            {{(period*emi)-l_amount | number: "2.2-2"}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="period!=''">
        <ion-card-header>
            Pagamento total
        </ion-card-header>
        <ion-card-content>
            {{period*emi| number:"2.2-2"}}
        </ion-card-content>
    </ion-card>

    <button type="submit" (click)="Details()" full ion-button>Detalhes</button>
</ion-content>