<ion-content padding class="categorias-content">
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
    <ion-row>
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <ion-fab right edge>
            <button ion-fab color="secondary" (click)="presentAlert()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    </ion-row>
    <ion-list class="categorias-list">
        <ion-item class="list-item" *ngFor="let item of list">
            <ion-thumbnail item-left>
                <preload-image class="item-left" [ratio]="{w:1, h:1}" [src]="item.image" alt="item.name" title="item.name"></preload-image>
            </ion-thumbnail>
            <h2 class="item-title">{{item.name}}</h2>
            <p class="item-description" rows="2">
                <progress-bar [progress]="45"></progress-bar>
                <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'" [color]="'blue'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'"></ng-progress>
            </p>
            <!--           <button class="relation-button" [ngClass]="{following: !item.inverse_relation}" ion-button clear icon-only item-right [navPush]="pushPage">
         <ion-icon *ngIf="item.inverse_relation" name="md-arrow-forward"></ion-icon>
        <ion-icon *ngIf="!item.inverse_relation" name="md-arrow-forward"></ion-icon> 
      </button>-->
        </ion-item>
    </ion-list>
</ion-content>