<ion-header>
    <ion-navbar>
        <ion-title>Investimentos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile-content">
    <div class="user-details">
        <ion-row class="user-main-data-row">
            <ion-col no-padding width-33>
                <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.user.image" alt="profile.user.name" title="profile.user.name"></preload-image>
            </ion-col>
            <ion-col no-padding>
                <ion-row class="social-presence-row">
                    <ion-col width-50 class="social-presence-item">
                        <a>
                            <h2 class="social-presence-value">{{profile.posts.length}}</h2>
                            <h4 class="social-presence-title">Sonhos</h4>
                        </a>
                    </ion-col>
                    <ion-col width-50 class="social-presence-item">
                        <a>
                            <h2 class="social-presence-value">{{profile.following.length}}</h2>
                            <h4 class="social-presence-title">Realizados</h4>
                        </a>
                    </ion-col>
                </ion-row>
                <ion-row class="profile-action-row">
                    <ion-col no-padding>
                        <button ion-button block small (click)="goToNovoSonho()">
              Novo sonho
            </button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row wrap class="user-bio-row">
            <ion-col no-padding width-50>
                <h2 class="user-name">{{profile.user.name}}</h2>
            </ion-col>
            <ion-col no-padding width-50>
                <span class="user-location">{{profile.user.location}}</span>
            </ion-col>
            <ion-col no-padding width-100>
                <p class="user-description">
                    {{profile.user.about}}
                </p>
            </ion-col>
        </ion-row>
        <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="grid" (ionSelect)="onSegmentSelected($event)">
                Todos
            </ion-segment-button>
            <ion-segment-button value="list" (ionSelect)="onSegmentSelected($event)">
                Lista
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="display" class="user-content">
        <div *ngSwitchCase="'list'" class="list-view">
            <div class="list-item" *ngFor="let post of profile.posts">
                <span class="item-date">{{post.date}}</span>
                <ion-card>
                    <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title=""></preload-image>
                    <ion-card-content>
                        <p class="item-text">
                            {{post.description}}
                        </p>
                    </ion-card-content>
                    <ion-row no-padding class="actions-row">
                        <ion-col no-padding width-30 text-left>
                            <!--                             <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>
                  {{post.likes}} Likes
              </button> -->
                        </ion-col>
                        <ion-col no-padding width-25 text-center>
                            <!--                             <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon name='chatbubbles'></ion-icon>
                  {{post.comments}} Comments
              </button> -->
                        </ion-col>
                        <ion-col no-padding width-45 text-right>
                            <button class="action-button" ion-button clear small color="danger" icon-left (click)="sharePost(post)">
                <ion-icon name='share-alt'></ion-icon>
                Compartilhar
              </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>
        <div *ngSwitchCase="'grid'" class="grid-view">
            <ion-row wrap class="grid-row">
                <ion-col width-33 class="grid-item" *ngFor="let post of profile.posts">
                    <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title="RealEasy"></preload-image>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>