page-gastos {
    .toolbar-background {
        background: #2b98f0;
    }
    .toolbar-title {
        color: lightskyblue;
    }
    .b {
        color: white;
    }
    .scroll-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

.no-scroll .scroll-content {
    overflow: hidden;
}