<ion-header class="gastos-header">
    <ion-navbar>
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>
            <ion-label style="color:lightskyblue">Como podemos ajudar?</ion-label>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
            <ion-icon name="md-chatboxes"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
    <ion-toolbar class="gastos-subheader" style="z-index:3">

        <ion-title>
            <b class="b">NOVEMBRO</b> 2017</ion-title>
    </ion-toolbar>
    <super-tabs id="mainTabs" [config]="{ sideMenu: 'left' }" scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="yellow" scrollTabs="true" badgeColor="yellow" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="page1" id="page1"></super-tab>
        <super-tab [root]="page2" id="page2"></super-tab>
    </super-tabs>
</ion-content>