<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Configurações</ion-title>
        <ion-buttons end [hidden]="!settingsForm.dirty">
            <button ion-button>
        SaSalvarve
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="settings-content">
    <div class="user-image-content">
        <ion-row no-padding class="user-image-row">
            <ion-col no-padding width-40>
                <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.user.image" alt="aca va la img" title="IMAGE!"></preload-image>
            </ion-col>
        </ion-row>
        <h3 class="image-action">Alterar foto de perfil</h3>
    </div>

    <form [formGroup]="settingsForm" class="settings-form">
        <ion-list class="user-data-content">
            <ion-item>
                <ion-label stacked>Nome</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Local</ion-label>
                <ion-input type="text" formControlName="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Descrição</ion-label>
                <ion-textarea formControlName="description" rows="5" placeholder="Your description here..."></ion-textarea>
            </ion-item>
        </ion-list>

        <ion-row class="user-preferences-row">
            <span class="radio-tags-label">opcao</span>
        </ion-row>

        <ion-row class="user-preferences-row">
            <span class="radio-tags-label">opcao2</span>
        </ion-row>

        <ion-list class="switchers-list">
            <ion-item class="switcher-item">
                <ion-label>Notificações</ion-label>
                <ion-toggle formControlName="notifications"></ion-toggle>
            </ion-item>
        </ion-list>
    </form>

    <button class="alt-button" ion-button full (click)="showPrivacyModal()">Politica de privacidade</button>

    <button class="alt-button" ion-button full (click)="showTermsModal()">Termos de uso</button>

    <button class="alt-button logout-button" ion-button full icon-left (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Deslogar
  </button>
</ion-content>