// icomoon
@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?ls340j');
    src: url('../assets/fonts/icomoon.eot?ls340j#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon.ttf?ls340j') format('truetype'), url('../assets/fonts/icomoon.woff?ls340j') format('woff'), url('../assets/fonts/icomoon.svg?ls340j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg,
$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        font-family: "icomoon" !important;
        content: $val;
    }
}

@include makeIcon(icon-money-security-save-shield,
'\e900');
@include makeIcon(icon-family-silhouette,
'\e901');
@include makeIcon(icon-target,
'\e902');
@include makeIcon(icon-money,
'\e903');
@include makeIcon(icon-dollars-money-bag-with-a-clock,
'\e904');
@include makeIcon(icon-cash,
'\e905');
@include makeIcon(icon-coins,
'\e906');
@include makeIcon(icon-piggybank,
'\e907');
@include makeIcon(icon-pencil2,
'\e90b');