<ion-header class="walkthrough-header">
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button class="skip-button" (click)="skipIntro()" [hidden]="lastSlide">Skip</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="walkthrough-content">
    <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
        <ion-slide class="slide-1">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image [ratio]="{w:1, h:1}" src="./assets/images/logotest.png" alt="app logo" title="RealEasy"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">Bem vindo!</h2>
            <p class="intro-text">
                Este é o <b>RealEasy</b> aplicativo
            </p>
        </ion-slide>
        <ion-slide class="slide-2">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-2-img.png" alt="slide 2 img" title="RealEasy"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">texto!</h2>
            <p class="intro-text">
                vamos comecar.
            </p>
            <p class="intro-text">
                texto secundário
            </p>
        </ion-slide>
        <ion-slide class="slide-3">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-3-img.png" alt="slide 3 img" title="RealEasy"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">tela 3!</h2>
            <p class="intro-text">
                texto secundário tela 3!
            </p>
        </ion-slide>
        <ion-slide class="slide-4">
            <ion-row class="intro-image-row">
                <ion-col center width-64 no-padding>
                    <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-4-img.png" alt="slide 4 img" title="RealEasy"></preload-image>
                </ion-col>
            </ion-row>
            <h2 class="main-title">tela final!</h2>
            <p class="intro-text">
                faca login .
            </p>
            <p class="intro-text">
                ou crie uma conta!
            </p>
            <div class="button-bar">
                <button ion-button primary (click)="goToLogin()">Login</button>
                <button ion-button primary (click)="goToSignup()">Fazer cadastro</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>