<ion-menu [content]="content" [swipeEnabled]="false">
    <ion-content class="menu-content">
        <ion-material-sidemenu [options]="menuOptions"></ion-material-sidemenu>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>