<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Gastos" tabIcon="icon-cash"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Investimentos" tabIcon="icon-piggybank"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Dívidas" tabIcon="icon-dollars-money-bag-with-a-clock"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Educação" tabIcon="icon-pencil2"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Orcamento" tabIcon="icon-pencil2"></ion-tab>
</ion-tabs>