<ion-header class="signup-header auth-header">
    <ion-navbar>
        <ion-title>Registre-se</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
    <h2 class="auth-title">Criar uma conta</h2>
    <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">
        <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <show-hide-container>
            <ion-item>
                <ion-input type="password" placeholder="Senha" formControlName="password" show-hide-input></ion-input>
            </ion-item>
        </show-hide-container>
        <show-hide-container>
            <ion-item>
                <ion-input type="password" placeholder="Confirmar senha" formControlName="confirm_password" show-hide-input></ion-input>
            </ion-item>
        </show-hide-container>
        <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid">Cadastrar-se</button>
    </form>
    <p class="auth-divider">

    </p>
    <!--   <button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()">Sign up with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleSignup()">Sign up with Google</button>
 -->
    <p class="legal-stuff">
        Ao criar uma conta você concorda com nossa <a class="legal-action" (click)="showPrivacyModal()">Politica de Privacidade</a> e <a class="legal-action" (click)="showTermsModal()">Termos de uso</a>
    </p>
</ion-content>